---
layout: default
---
.container
  h1.text-center Thank you for subscribing!
  iframe.hidden_iframe style='display:none;' name='hidden_iframe'
  form.col-md-6.col-md-offset-3.col-xs-12 id="referral_form" target='hidden_iframe' action="https://docs.google.com/forms/d/1qB7phKgHEMNeUwVhhLeU3KGga_cuBj2spkJOK4nMdTE/formResponse" method="POST"
    .form-group
      textarea#entry_1263402095.form-control rows="5" placeholder="Your friend's email (separated by comma)" type="text" name="entry.1263402095"
      input name="draftResponse" type="hidden" value="[,,&quot;1738508585274440389&quot;]\n"
      input name="pageHistory" type="hidden" value="0"
      input name="fbzx" type="hidden" value="1738508585274440389"
    .form-group.text-center
      button#submit.btn.btn-orange type="submit" value="send" Send Referral
      button#thank.btn.btn-orange.hidden disabled="disabled" Thank You!
