$color-orange: #FFBC2A;
$brand-primary: #FA6831;

.btn-orange {
  color: $brand-primary;
  border: 2px solid $brand-primary;
  background: transparent;

  &:hover {
    color: white;
    background-color: $brand-primary;
  }
}
