$color-orange: #FFBC2A;
$brand-primary: #FA6831;

.jumbotron {
  background-color: white;
}

hr {
  border-top: 2px solid black;
}

.bold {
  text-transform: uppercase;
}

.orange {
  color: $brand-primary;
}

.space-top {
  margin-top: 50px;
}

#quote {
  margin-top: 20px;
  background: url('https://s3-ap-southeast-1.amazonaws.com/trainerhunt/assets/images/bg/discuss.jpg') no-repeat scroll;
  background-size: 100%;
  color: white;
  text-align: center;
  padding: 70px;

  ul {
    float: right;
    display: table; 
    margin-top: 50px;

    li {
      display: table-cell;
      vertical-align: middle;
    }
  }

  p {
    margin-bottom: 0px;
  }
}

// forms
input[type="radio"] {
  margin-left: 5px;
  margin-right: 5px;
}

input[type="tel"] {
  margin-right: 10px;
  margin-left: 10px;
}

.form {
  padding: 15px;
}

// footer
#footer {
  height: 50px;
  background-color: #363636;

  li {
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: grey;
  }
}

