$color-orange: #FFBC2A;
$brand-primary: #FA6831;

.jumbotron {
  h1 {
    font-family: DIN-bold;
  }

  background-color: white;
  text-align: center;
}

hr {
  border-top: 2px solid black;
}

.bold {
  text-transform: uppercase;
  line-height: 1.5;
}

.orange {
  color: $brand-primary;
  //text-transform: uppercase;
  //display: inline-flex;
  text-align: left;
}

.space-top {
  margin-top: 50px;

  &.sm {
    margin-top: 10px;
  }
}

#quote {
  margin-top: 20px;
  background: url('https://s3-ap-southeast-1.amazonaws.com/trainerhunt/assets/images/bg/discuss.png') no-repeat scroll;
  background-size: 100%;
  color: white;
  text-align: right;
  padding: 30px;

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    padding: 50px;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    padding: 60px;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    padding: 70px;
  }

  ul {
    float: right;
    display: table; 
    margin-top: 50px;

    li {
      display: table-cell;
      vertical-align: middle;
    }
  }

  p {
    margin-bottom: 0px;
  }
}

//forms
@media screen and (min-width: 768px) {
  .form-control {
    margin-right: 10px;
  }
}

.form {
  &#reg_form {
    padding: 15px;
  }
}

.form-control {
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
  height: 40px;

  &:focus {
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
  }
}

// footer
body {
  padding-bottom: 70px;
}

#footer {
  height: 50px;
  background-color: #363636;

  li {
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: grey;
  }
}

@media screen and (max-width: 768px) {
  h1, h2, h3, h4 , h5, h6 {
    text-align: center;
  }
  
  p {
    text-align: justify;
    line-height: 1.5;
  }

  .navbar-brand {
    width: 180px;
    margin-left: -20px;
  }
}

