@font-face {
  font-family: DIN-Bold;
  src: url(../fonts/din/DIN-BoldAlternate.ttf);
  font-weight: 400;
}

@font-face {
  font-family: DIN-Black;
  src: url(../fonts/din/DIN-BlackAlternate.ttf);
  font-weight: 400;
}

@font-face {
  font-family: DIN-Light;
  src: url(../fonts/din/DIN-LightAlternate.ttf);
  font-weight: 400;
}

@font-face {
  font-family: DIN-Medium;
  src: url(../fonts/din/DIN-MediumAlternate.ttf);
  font-weight: 400;
}

@font-face {
  font-family: DIN-Regular;
  src: url(../fonts/din/DIN-RegularAlternate.ttf);
  font-weight: 400;
}
