<footer class="space-top" id="footer">
  <div class="container">
    <div class="row" style="margin-top:10px;">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li><a href="/about">About</a></li>
          <li class="footer-menu-divider"><a href="/careers">Careers</a></li>
          <li class="footer-menu-divider"><a data-target="#enquiry" data-toggle="modal" href="#">Contact Us</a></li>
          <li class="footer-menu-divider"><a href="/testimonial">Testimonial</a></li>
          <li class="footer-menu-divider"><a href="/">Terms &amp; Conditions</a></li>
          <li class="footer-menu-divider"><a href="/">Privacy Policy</a></li>
          <li class="pull-right copyright text-muted small">Copyright © TrainerHunt 2015. All Rights Reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
